body{
    font-family: 'Georgia', serif;
    font-size: 17px;
    color: #444;
}
a {
    color: #0489B3;
    outline: medium none;
    text-decoration: none;
}
section a:hover, article a:hover {
    text-decoration: underline;
}

h1 a, h2 a {
    text-decoration:none;
    color: #000;
}
h1 {
    border-bottom: 1px dotted #CCC;
}
h3 {
    margin-top: 20px;
}
h4 {
    margin-top: 10px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.post-info, .postmeta {
    color: #B0B0B0;
    font-size: 0.95em;
    padding-top: 3px;
    margin: 0 0 10px 0;
}
.post {
    margin-bottom: 60px;
}

.gist {
    margin: 20px 0;
}
blockquote {
    padding: 30px 60px 30px 30px;
    font-style: italic;
    background-color: #eee;
    margin: 20px -10px;
}
blockquote:before, blockquote:after {
    font-size: 6em;
}
blockquote:before {
    content: '\201C';
    line-height:30px;
    height: 30px;
    width: 30px;
    margin: -16px 30px 0 0;
    float: left;
}
blockquote:after {
    content: '\201E';
    line-height:30px;
    margin: 0 -40px 0 0;
    float: right;
}

p {
    margin: 0 0 10px 0;
}

blockquote p {
    display: inline;
}

p img {
    -moz-box-shadow: 2px 2px 11px #AABDC7;
    -webkit-box-shadow: 2px 2px 11px #AABDC7;
    box-shadow: 2px 2px 11px #AABDC7;
    margin: 10px;
}
code, pre {
    background: #F8F8F8;
    border: 1px solid #F0F0F0;
    display: block;
    margin: 3px 0;
    overflow: auto;
    padding: 0 15px 25px;
    text-align: left;
    white-space: pre;
}

