body{
	font-family: 'Georgia', serif;
	font-size: 17px;
	color: #444;
}
a {
    color: #0489B3;
    outline: medium none;
    text-decoration: none;
}
section a:hover, article a:hover {
	text-decoration: underline;
}

h1 a, h2 a {
	text-decoration:none;
  color: #000;
}
h2 {
  border-bottom: 1px dotted #CCC;
}
h3 {
  margin-top: 20px;
}
h4 {
  margin-top: 10px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
    clear: both;
}
.post-info, .postmeta {
  color: #B0B0B0;
  font-size: 0.95em;
  padding-top: 3px;
  margin: 0 0 10px 0;
}
.post {
  margin-bottom: 60px;
}

.gist {
  margin: 20px 0;
}
blockquote {
  padding: 30px 60px 30px 30px;
  font-style: italic;
  background-color: #eee;
  margin: 20px -10px;
}
blockquote:before, blockquote:after {
  font-size: 6em;
}
blockquote:before {
  content: '\201C';
  line-height:30px;
  height: 30px;
  width: 30px;
  margin: -10px 30px 0 0;
  float: left;
}
blockquote:after {
  content: '\201E';
  line-height:30px;
  margin: 0 -40px 0 0;
  float: right;
}